body {
    text-align: left;
    background-color: #ffffff;
}

header {
    font-family: 'Calibri', sans-serif;
    padding-top: 10;
    padding-bottom: 15;
    background-color: #ffffff;
    color: #2094f3;
}

.btn {
    background-color: #5fa4ff;
    color: #000000;
}


input {
    text-align: left;
    width: 20%;
    background-color: #ffffff;
}

@media screen and (max-width: 500px) {
    input {
        width: 100%;
    }
}