body {
    text-align: left;
    background-color: #ffffff;
}

header {
    font-family: 'Calibri', sans-serif;
    background-color: #ffffff;
    color: #2094f3;
}

.btn {
    background-color: #5fa4ff;
    color: #000000;
}


input {
    text-align: left;
    width: 40%;
    background-color: #ffffff;
}

@media screen and (max-width: 200px) {
    input {
        width: 50%;
    }
}